.product_custom_fields_wrapper {
    padding: 20px 10px;
    display: flex;
    width: 95%;
}
.product_custom_single_fields_wrapper {
    display: block;
    width: 100%;
}
.woocommerce_options_panel .product_custom_fields_wrapper  p {
    padding: 0px;
    margin: 0px;
    line-height: 1;
    padding-bottom: 9px;
}
.mr_woo_input_wrapper {
    padding: 0px 10px;
}
.product_custom_fields_wrapper .mr_woo_input_wrapper input[type=text],
.product_custom_fields_wrapper .mr_woo_input_wrapper input[type=time],
.product_custom_fields_wrapper .mr_woo_input_wrapper select,
input.timepicker {
    width: 100%;
}
.mr_woo_input_wrapper {
    width: 20%;
}
.mr_woo_single_input_wrapper {
    padding: 0px 10px;
    width: 100%;
}
.mr_woo_input_wrapper.order_input_wrapper {
    display: flex;
    flex-direction: column;
}
.mr_woo_input_wrapper.order_input_wrapper input {
    width: 100% !important;
}
.mr_woo_input_wrapper.order_input_wrapper p {
    padding-left: 0px;
    margin: 0px;
}
.more_info_box_wrapper {
    max-width: 20%;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
}
.more_info_box_wrapper input {
    width: 100% !important;
    margin-bottom: 5px !important;
}
.more_info_box_wrapper p {
    margin-bottom: 5px !important;
    padding-left: 0px !important;
}
.more_race_info_wrapper {
    padding: 10px;
    display: flex;
}
.pac_imputs_wrapper {
    display: flex;
    padding: 15px 0px;
}
.pac_imputs_wrapper > .pi_box {
    width: 33%;
}
.pi_box {
    padding-left: 5px;
    padding-right: 5px;
}
.other_pac_infos_wrapper {
    display: flex;
    justify-content: space-between;
}
.package_info_wrapper {
    visibility: hidden;
    height: 0px;
}
input[name="_svg_for_track"] {
    width: 50%;
}
.t_type_tribuine_wrapper {
    display: flex;
    justify-content: space-between;
}
.t_type_tribuine_wrapper div {
    width: 49%;
}