/* variables */
:root {
  --white: #fff;
  --black: #000;
  --black-transparent: #00000029;
  --red: #CC4948;
  --dark-green: #212121;
  --header-spacing: 32px;
  --footer-spacing: 30px;
  --footer-menu-items-spacing: 15px;
  /* --background-color: #ededed; */
  --background-color: #fff;
  --dark-707070: #707070;
  --dark-1f1f1f: #1f1f1f;
  --dark-242424: #242424;
  --dark-343434: #343434;
  --dark-404040: #404040;
  --light-grey: #dedede;
}

/* temporary */
.entry-header,
.entry-footer {
  display: none;
}

.mr-choose-language {
  display: none;
}
/* end-temporary */

/* Overlay for images */

.overlay-images {
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
}

/* End overlay for images */

/* Animations */

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/* End animations */

/* Logo - change logo depending on the mode */

.logo-light {
  display: none;
}

.dark-mode .logo-dark, .home .logo-dark, .tax-product_cat .logo-dark { 
  display: none;
}

.dark-mode .logo-light, .home .logo-light, .tax-product_cat .logo-light { 
  display: block;
}

/* End logo */


/* Menu */

.menu-item-has-children {
  position: relative;
}

.menu-item-has-children::after {
  content: "\25BC";
  font-size: 10px;
  font-weight: bold;
  float: right;
  position: absolute;
  right: -15px;
  top: 5px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.open::after {
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  color: var(--red);
}

.menu-item-has-children .sub-menu {
  display: none;
  height: 0;
  position: absolute;
  background: rgb(36,36,36);
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px 15px;
  margin: 0;
}

.menu-item-has-children .sub-menu li {
  margin-bottom: 16px;
  color: var(--white);
}

.menu-item-has-children .sub-menu li:last-child {
  margin-bottom: 0;
}

/* End menu */

/* general */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"),
    url("../fonts/Roboto-Bold.ttf") format("truetype"),
    url("../fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeue.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype"),
    url("../fonts/RobotoCondensed-Bold.ttf") format("truetype");
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
}

body * {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
}

body > div {
  overflow: hidden;
}

.main-header.small-screen {
  display: none;
}

h2,
h3 {
  font-family: "Roboto Condensed", Arial, sans-serif;
}

.mr-background-inner {
  background-color: var(--white);
  padding: 60px 80px;
}

.mr-background-offset {
  padding: 185px 0 80px;
  min-height: calc(100vh - 284.2px);
}

.mr-background-offset-single-race {
  padding-top: 100px;
}

a,
a:visited,
a:focus,
a:active {
  display: block;
  color: unset;
  text-decoration: none;
  transition: all 0.3s;
  outline: none;
  box-shadow: none;
  border: none;
}

a.btn-red,
a.btn-red:visited,
a.btn-red:focus {
  color: var(--white);
}

a.btn-white,
a.btn-white:visited,
a.btn-white:focus {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  color: var(--red);
  border: 1px solid var(--white);
  font-size: 14px;
  font-weight: 600;
  transition: all 0.4s;
}

.btn-white:hover,
a.btn-white:hover {
  background-color: var(--red);
  color: var(--red);
  border: 1px solid var(--red);
}

/* .page-template-home-template a, */
footer a {
  color: var(--white);
}

a:hover,
a:active {
  color: var(--red);
  text-decoration: none;
}

img,
svg {
  display: block;
}

.post,
.page,
.entry-content {
  margin: 0;
}

/* buttons */
button {
  background-color: inherit;
}

button:hover {
  color: inherit;
}

button:focus {
  outline: none;
}

input.btn-red,
a.btn-red,
.btn-red {
  background-color: var(--red);
  color: var(--white);
  border: 1px solid var(--red);
  font-size: 14px;
  font-weight: 600;
  transition: all 0.4s;
}

.btn-red:hover,
a.btn-red:hover,
input.btn-red:hover {
  background-color: var(--white);
  color: var(--red);
  border: 1px solid var(--red);
}

/* loggin-loggedin-btn */
.btn-arrow-down {
  transform: rotate(90deg);
  display: inline-block;
}
.mr-loggedin {
  display: none;
}

/* end-buttons */

/* end-general */

/* header */
.main-header {
  display: flex;
  justify-content: space-between;
  padding: 21px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.main-header nav ul,
.mr-header-buttons,
.mr-nav-buttons {
  display: flex;
  align-items: center;
}

.main-header nav ul li,
.mr-header-buttons div {
  margin-right: var(--header-spacing);
}

.main-header nav ul li:last-child,
.mr-header-buttons div:last-child {
  margin-right: 0;
}

.menu-item-has-children .sub-menu li { 
  margin-right: 0;
}

.mr-header-buttons {
  height: 100%;
  padding-left: 20px;
}

.main-header nav {
  padding-right: 20px;
  border-right: 1px solid var(--dark-green);
}

.current_page_item {
  color: var(--red);
}

.main-header button {
  color: var(--white);
  border: 1px solid var(--red);
  font-size: 14px;
}

.main-header .mr-logo {
  width: 156px;
}

.mr-choose-language {
  min-height: 70px;
  width: 36px;
  position: relative;
}

.mr-choose-language > div {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  transition: all .3s;
}

.mr-choose-language .active-language {
  opacity: 1;
}

.mr-choose-language > div {
  bottom: -5px;
}

.mr-choose-language > div.active-language {
  top: calc(50% - 9px);
  bottom: auto;
}

.mr-choose-language:hover > div {
  opacity: 1;
}

.mr-change-mode .custom-switch .custom-control-label::after {
  background-color: var(--red);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.16);
  top: 0.37rem;
  left: calc(-2.25rem + 1px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  content: url("../images/sun.svg");
  text-align: center;
  font-size: 27px;
  line-height: 27px;
  cursor: pointer;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: var(--black);
  -webkit-transform: translateX(2rem);
  transform: translateX(2rem);
  content: url("../images/moon.svg");
}

.custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:focus ~ .custom-control-label::before,
.custom-control-input:active ~ .custom-control-label::before {
  transition: transform 0.15s ease-in-out;
  box-shadow: 0px 3px 6px 0px var(--black-transparent);
  background-color: var(--light-grey) !important;
}

.custom-switch .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::before {
  height: 33px;
  width: 67px;
  background-color: var(--light-grey);
  border-radius: 17px;
  border-color: transparent;
  box-shadow: 0px 3px 6px 0px var(--black-transparent);
  cursor: pointer;
}

.custom-control-label::before,
.custom-file-label,
.custom-select {
  transition: none;
  border: none;
  box-shadow: 0px 3px 6px 0px var(--black-transparent);
  background-color: var(--light-grey);
}

.mr-change-mode,
.mr-change-mode > div {
  width: 67px;
  height: 39px;
  cursor: pointer;
}

.mr-login button {
  width: 94px;
  height: 43px;
  box-shadow: 0px 5px 5px 0px var(--black-transparent);
}

.mr-selected-orders {
  cursor: pointer;
}

.page-template-home-template .mr-selected-orders svg path, .tax-product_cat .mr-selected-orders svg path {
  transition: all 0.3s;
  fill: var(--white);
}

.mr-selected-orders svg path {
  transition: all 0.3s;
  fill: var(--black);
}

.mr-selected-orders:hover svg path {
  fill: var(--red);
}
/* end-header */

/* footer */
footer {
  background-color: #343434;
  color: var(--white);
  padding: 35px 0;
}

footer h3,
footer ul {
  font-size: 16px;
}

footer ul {
  display: grid;
  grid-gap: var(--footer-menu-items-spacing);
  line-height: 1;
}

footer h3 {
  padding-bottom: var(--footer-spacing);
  font-weight: 700;
}

footer .mr-logo {
  width: 140px;
  margin-bottom: var(--footer-spacing);
}

.logo-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mr-social a {
  height: 22px;
  display: inline-block;
  margin-right: 17px;
}

.mr-contact-info a {
  margin-bottom: 15px;
}

svg path {
  transition: all 0.3s;
}

.mr-facebook-logo svg:hover path {
  fill: var(--red);
  stroke: var(--red);
}

.mr-instagram-logo svg:hover path {
  stroke: var(--red);
}

.mr-twitter-logo svg:hover path,
.mr-google-logo svg:hover path {
  fill: var(--red);
}
/* end-footer */

/* home-page */
.mr-header-background {
  display: flex !important;
  align-items: center;
  /* background-image: url("../images/moto-home-background.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: var(--white);
}

.mr-header-background .btn-red,
.race-adventures-info .btn-red,
a.btn-red {
  width: 170px;
  height: 40px;
}

.mr-home-booking-wrapper {
  min-height: 311px; 
  background-color: var(--red); 
  margin-bottom: 59px;
}

a.btn-red {
  text-align: center;
  line-height: 35px;
}

.race-adventures-info .btn-red {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mr-header-background p {
  font-size: 17px;
  font-weight: 600;
  background-color: var(--red);
  width: fit-content;
  padding: 0 10px;
}

.adventure-title {
  font-size: 24px;
  font-weight: 600;
}

.mr-header-background h1 {
  max-width: 565px;
  font-size: 35px;
  padding: 10px 0 30px;
  font-weight: 600;
}

.home-special-wrapper {
  padding: 0;
}

.time-counter {
  display: grid;
  max-width: 334px;
  grid-auto-flow: column;
  grid-column-gap: 40px;
  padding-bottom: 47px;
}

.time-counter div {
  display: grid;
  grid-gap: 21px;
  text-align: center;
}

.time-counter div span:first-child {
  font-size: 48px;
  font-weight: 700;
}

.time-counter div span:last-child {
  font-size: 18px;
  font-weight: 600;
}

/* home-tabs */
.container-rel {
  position: relative;
}

.mr-competitions {
  margin-top: -54px;
}

.nav-tabs {
  border-bottom: none;
}

.mr-competitions .nav-tabs {
  position: relative;
  z-index: 2;
  display: grid;
  max-width: 1112px;
  height: 109px;
  margin: 0 auto;
  grid-auto-flow: column;
  align-items: center;
  background-color: var(--white);
  box-shadow: 0px 11px 11px 0px var(--black-transparent);
}

.mr-competitions .nav-tabs .nav-item {
  display: flex;
  height: 100%;
  align-items: center;
  outline: none;
}

.mr-competitions .nav-tabs .nav-item:not(:last-child) a {
  box-shadow: 1px 0px 0px 0px #ccc;
  border-radius: 0;
  box-sizing: content-box;
  /* border-right: 1px solid #ccc; */
}

.mr-competitions .nav-tabs .nav-item a {
  display: flex;
  height: 60%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.nav-tabs .nav-link.active {
  background-color: transparent;
  border-color: transparent;
  color: var(--red);
}

.nav-tabs .nav-link,
.nav-tabs .nav-link:hover {
  border: none;
}

#adventures-tab {
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
}

.race-items {
  margin-bottom: 124px;
}

.race-items:last-child{
    margin-bottom: 0;
    padding-bottom: 60px;
}

.race-item {
  margin-bottom: 30px;
}

.race-item a {
  box-shadow: 0px 4px 11px rgba(101, 101, 101, 0.55);
}

.race-info,
.race-adventures-info,
.snow-bckg {
  position: relative;
  /* background-image: url("../images/moto-home-background.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 302px;
  background-size:cover;
}

.race-adventures-info {
  background-image: url("../images/enduro-home.jpg");
}

.snow-bckg {
  background-image: url("../images/snowmobile.jpg");
}

/* Hover product only for desktop */
@media (min-width: 768px) {
  /* Hover on adventure and races */
  .race-item-front, .race-item-back {
    opacity: 1;
  }
  
  .race-item-back {
    opacity: 0;
    height: 0;
    text-align: center;
    color: #fff;
  }
  
  .race-item-back .race-date-txt, .race-item-back .race-date-value {
    height: 0;
  }
  
  .race-item-back .race-date-value {
    font-size: 36px;
  }
  
  .hovered-item .race-item-front {
    opacity: 0;
    height: 0;
  }
  
  .hovered-item .race-item-back {
    opacity: 1;
    height: 102.5px;
    margin-top: -35.5px;
    /* padding-bottom: 10px; */
  }
  
  .hovered-item .race-item-back .race-date-txt, .hovered-item .race-item-back .race-date-value {
    height: fit-content;
    height: -moz-fit-content;
  }
  
  .hovered-item .race-item-back {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
  }

  .hovered-item .race-info {
    background-image: none !important;
    background-color: transparent;
  }
  
  .hovered-item {
    background-color: rgb(36, 36, 36);
  }

  .hovered-item .race-date-txt {
    font-weight: 600;
    /* padding-bottom: 8px; */
  }
  
  /* End hover animation */
}

.race-path {
  width: 215px;
  margin: 10% auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}


.race-info > div:first-child {
  display: flex;
  padding: 10px;
  align-items: center;
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
}

.race-info .race-flag {
  max-width: 37px;
  width: 100%;
  height: 37px;
  border-radius: 50%;
  overflow: hidden;
}

.race-info .race-flag img {
  width: 100%;
  height: 100%;
}

.race-info .race-event {
  padding-left: 10px;
}

.race-date {
  display: grid;
  grid-auto-flow: column;
  background-color: var(--white);
}

.race-date div {
  display: flex;
  margin: 8px 0 14px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.race-date div:not(:last-child) {
  border-right: 1px solid var(--black);
}

.race-date-value {
  font-size: 14px;
}

.book-race-btn {
  width: 100%;
  height: 35px;
}

.tab-content {
  margin-top: 86px;
}

.tab-content h3 {
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: var(--red);
  text-align: center;
}

.nav-item:hover:after {
  -webkit-animation: showBorder 0.2s ease-in;
  -moz-animation: showBorder 0.2s ease-in;
  animation: showBorder 0.2s ease-in;
}

@-webkit-keyframes showBorder {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@-moz-keyframes showBorder {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes showBorder {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

.nav-item {
  position: relative;
  transition: all 0.3s;
}

.home .active-border {
  width: 100%;
  box-shadow: 0 0 15px #00000057;
}

.home .navbar ul{
  color: var(--white);
}

.active-border:after,
.nav-item:hover:after {
  content: "";
  width: 90%;
  height: 3px;
  background: var(--red);
  position: absolute;
  bottom: 0;
  left: 5%;
}

.title-bordered {
  text-align: center;
}

.title-bordered h2 {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  padding: 13px;
  background-color: var(--background-color);
}

.title-bordered p {
  padding: 0 15px;
  font-size: 16px;
  background-color: var(--white);
}

.title-border {
  border-top: 1px solid var(--black);
  width: 374px;
  margin: -30px auto 0;
}

.autentification .title-border {
  margin: -13px auto 0;
}

.adv-subtitle {
  padding-top: 20px;
}

.race-adventures {
  margin: 55px 0 75px;
}

.race-adventures-info {
  display: flex;
  text-align: center;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}

.adventure-title {
  padding-bottom: 10px;
}

.small-border {
  border-top: 1px solid var(--white);
  width: 60px;
  margin: 0 auto;
}

.adv-price {
  font-size: 16px;
  font-weight: 600;
  padding-top: 10px;
}
/* end-home-tabs */

.home-book-holiday-text-wrapper {
  padding-top: 42.8px;
}

.home-book-holiday-text-wrapper .home-book-holiday-title,
.home-book-holiday-text-wrapper .home-book-holiday-description {
  color: var(--white);
}

.home-book-holiday-text-wrapper .home-book-holiday-title {
  font-size: 24px;
  font-weight: bold;
}

.home-book-holiday-text-wrapper .home-book-holiday-description {
  font-size: 16px;
  margin-top: 29.5px;
}

.home-book-holiday-text-wrapper .home-book-holiday-btn {
  max-width: 149px;
  width: 100%;
  height: 51px;
  margin-top: 29.5px;
}

.carousel-most-popular-item-wrapper img {
  margin: 22.3px auto 35px;
}

.carousel-most-popular-item-wrapper .carousel-most-popular-item-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: var(--white);
}

.carousel-most-popular-item-wrapper .carousel-most-popular-item-date {
  font-size: 16px;
  text-align: center;
  color: var(--white);
  margin: 13.5px 0 44.4px;
}

#contact-home-us {
  margin-top: 63px;
}

#contact-home-us h3 {
  font-size: 36px;
  color: var(--dark-343434);
}

#contact-home-us .contact-home-moto-image-wrapper {
  position: absolute; 
  right: 0; 
  bottom: 20px;
  width: 22vw;
}

@media (max-width: 992px) { 
  #contact-home-us .contact-home-moto-image-wrapper {
    display: none;
  }
}
/* end-home-page */

/* autentification-page */
.autentification .tab-content {
  position: relative;
  margin-top: 0;
}

.autentification .nav-tabs {
  padding: 0 80px;
}

.autentification .nav-item {
  margin-right: 45px;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
}

.autentification .nav-link {
  padding: 5px 8px;
}

.autentification .active-border::after,
.autentification .nav-item:hover::after {
  width: 100%;
  left: 0;
}

.create-account {
  max-width: 450px;
  margin-right: auto;
}

.create-account h2 {
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 20px;
}

.create-account a,
.create-account p {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}

.create-account a {
  color: var(--red);
  padding-left: 12px;
}

.autentification form input,
.contact-us form .contact-inputs {
  width: 100%;
  padding: 60px 5px 5px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--black);
  background-color: transparent;
}

.autentification form input:focus,
.contact-us form input:focus {
  border-color: var(--red);
  outline: none;
  box-shadow: none;
}

.autentification form input::placeholder,
.contact-us form input::placeholder {
  font-size: 16px;
  color: var(--black);
  opacity: 1;
}

form #reg_billing_first_name,
form #reg_billing_last_name {
  width: 48%;
  display: inline;
}

form #reg_billing_first_name {
  margin-right: 3%;
}

.create-account button,
.contact-us button {
  height: 66px;
  width: 100%;
  margin-top: 36px;
  margin-bottom: 31px;
  font-size: 16px;
  box-shadow: 0px 5px 5px 0px var(--black-transparent);
  border-radius: 0;
}

.create-account .title-bordered p {
  font-weight: 500;
}

.create-account .mr-social {
  text-align: center;
  padding-top: 40px;
}

.create-account .mr-social a {
  height: 36px;
  width: auto;
  padding: 0;
  margin: 0 18px;
}

.create-account .mr-social a svg {
  height: 100%;
  width: auto;
}

.create-account .forgot-pass {
  display: block;
  padding: 0;
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: var(--black);
}

.create-account .forgot-pass:hover {
  color: var(--red);
}

.register-img {
  width: 47vw;
  max-width: 801px;
  position: absolute;
  top: 48%;
  left: 51%;
}

.login-img {
  width: 47vw;
  max-width: 701px;
  position: absolute;
  top: 23%;
  left: 54%;
}

.login-img img,
.register-img img {
  width: 100%;
}
/* end-autentification-page */

/* Lost password */

.lost_reset_password input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--black);
  border-radius: 0;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  outline: none;
}

/* End lost password */

/* about-us */
.about-us h2 {
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 15px;
}

.about-img img {
  object-fit: cover;
  box-shadow: 0 11px 11px var(--black-transparent);
  width: 100%;
  height: 100%;
}

.about-txt {
  font-size: 16px;
  line-height: 2.2;
}

.about-motosports {
  position: relative;
}

.about-motosports > div {
  display: flex;
  flex-wrap: wrap;
}

.about-motosports .about-first-row .about-txt {
  max-width: 50%;
  padding-top: 35px;
  margin-right: 30px;
}

.about-motosports .about-first-row .about-img {
  width: 100%;
  max-width: 550px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.about-motosports .about-second-row {
  margin-top: 40px;
}

.about-motosports .about-second-row .about-txt {
  max-width: 386px;
  margin-right: 30px;
}

.about-motosports .about-second-row .about-img {
  width: 100%;
  max-width: 646px;
}

.subtitle-adv {
  margin-top: 70px;
}

.about-adventures .about-second-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: space-between;
}

.about-adventures .about-second-row .about-txt {
  max-width: 47%;
}

.about-adventures .about-second-row .about-img {
  width: 100%;
  max-width: 47%;
}
/* end-about-us */

/* contact-us */
.mr-background-inner {
  background-color: var(--white);
  padding: 60px 0 60px 80px;
}

.contact-us-form {
  margin-top: 100px;
}

.home .contact-us-form {
  margin: 50px auto;
}

.contact-us h2 {
  font-size: 40px;
  font-weight: 600;
}

.contact-us-info a {
  display: flex;
  margin-top: 30px;
  align-items: center;
}

.contact-us-info a svg {
  margin-right: 21px;
}

.contact-us-info a:hover svg path {
  fill: var(--red);
}

.contact-text {
  padding: 80px 5px 5px;
  border: none;
  border-bottom: 1px solid var(--black);
  background-color: transparent;
  border-radius: 0;
  resize: none;
}

.contact-text:focus {
  outline: none !important;
}

.contact-text::placeholder {
  line-height: 1;
}

.contact-text::-moz-placeholder {
  line-height: 3;
}

.contact-text:focus {
  border-color: var(--red);
}

.contact-text::placeholder {
  color: var(--black);
  opacity: 1;
}

.contact-us-form button {
  margin-bottom: 0;
}

.contact-us-left {
  display: flex;
  padding-right: 120px;
  flex-direction: column;
  justify-content: space-between;
}

form.wpcf7-form.init div {
  display: flex;
  justify-content: space-between;
}
form.wpcf7-form.init span {
  width: 48%;
}
.contact-us-form span input {
  width: 100%;
}

.home .contact-us-form span input {
  width: 100%;
  padding: 5px 5px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--black);
  background-color: transparent;
}

.contact-us iframe {
  width: 100%;
  height: 100%;
}

.contact-us-btn {
  height: 62px;
  width: 100%;
}

/* end-contact-us */

/* adventures */
.adv-head {
  padding-bottom: 40px;
}

.adv-head img {
  width: 100%;
  object-fit: cover;
}

.adv-head h2 {
  max-width: 470px;
  padding-bottom: 30px;
  font-size: 35px;
}

.adv-head h2 span {
  font-family: "Roboto Condensed";
  display: block;
  font-weight: 600;
}

/* adventures-filter */
#error-type,
#error-location {
  position: absolute;
  top: -44px;
  color: var(--red);
  line-height: 1;
  font-size: 15px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.3s;
}

.adv-filter {
  position: relative;
  display: flex;
  max-width: 770px;
  height: 74px;
  margin: 0 auto;
  background: var(--white);
  box-shadow: 0px 2px 2px 0px #62626229;
}

.mr-custom-select-wrapper {
  width: 27%;
  height: 75%;
  margin: auto 0;
}

.mr-custom-select-wrapper:not(:first-child) {
  border-left: 1px solid #ccc;
}

.mr-custom-select {
  position: relative;
}

.custom-select__trigger {
  cursor: pointer;
  padding: 3px 25px;
}

.custom-select__trigger p:first-child {
  font-size: 18px;
  font-weight: 600;
}

.mr-loggedin .custom-select__trigger {
  display: flex;
  width: 90px;
  height: 40px;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}

.mr-logout-btn {
  width: 100px;
  height: 40px;
}

.mr-loggedin .custom-select__trigger svg {
  width: 25px;
}

.mr-loggedin .custom-select__trigger:hover svg path {
  fill: var(--red);
}

.mr-loggedin .btn-arrow-down {
  width: 5px;
  height: 5px;
}

.mr-loggedin .custom-options > div {
  flex-direction: column;
}

.mr-loggedin .custom-options {
  width: 200px;
  left: unset;
}

.mr-loggedin .custom-options a {
  padding: 0 0 10px 0;
}

/* custom checkboxes */
.location-selection label,
.type-selection label {
  width: 100%;
  z-index: 100;
  position: relative;
  cursor: pointer;
}

.location-selection input,
.type-selection input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 4px;
  right: 0;
  height: 17px;
  width: 17px;
  border: 1px solid var(--black);
}

.location-selection input:checked ~ .checkmark,
.type-selection input:checked ~ .checkmark {
  background-color: var(--black);
  color: var(--white);
}

.checkmark:after {
  content: "\2713";
  display: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
}

.location-selection input:checked ~ .checkmark:after,
.type-selection input:checked ~ .checkmark:after {
  display: block;
}
/* end custom checkboxes */

.custom-options > div {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

.custom-options {
  position: absolute;
  display: flex;
  padding: 13px 23px;
  flex-direction: column;
  top: 130%;
  left: 0;
  right: 0;
  background: var(--white);
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.mr-custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.select-price {
  width: 355px;
}

.adv-filter button {
  width: 97px;
  height: 35px;
  margin: auto;
  box-shadow: 0px 5px 5px 0px var(--black-transparent);
}
/* end-adventures-filter */

/* price-slider */
.slider-labels {
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.adv-price-container {
  padding-top: 20px;
}

.mr-carousel-outside .carousel-indicators,
.sr-accomodation-images-wrapper .carousel-indicators {
  bottom: -25px;
}

.mr-carousel-home .carousel-indicators li,
.sr-accomodation-images-wrapper .carousel-indicators li,
.carouser-single-race-header .carousel-indicators li {
  max-width: 17px;
  min-width: 17px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid var(--red);
}

.carouser-single-race-header .carousel-indicators li {
  border-color: var(--white);
}

.mr-carousel-home .carousel-indicators .active,
.sr-accomodation-images-wrapper .carousel-indicators .active {
  background-color: var(--red);
}

.carouser-single-race-header .carousel-indicators .active {
  background-color: var(--white);
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* Fix 401 */
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
   its values is > 50%. */
  z-index: 10;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 4px;
}

.noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: -7px;
  top: -7px;
  background-color: var(--red);
}

/* Styling;
 */
.noUi-background {
  background: #d6d7d9;
}

.noUi-connect {
  background: var(--red);
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-origin {
  border-radius: 2px;
}

.noUi-target {
  border-radius: 2px;
}

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}

.noUi-handle {
  cursor: default;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.noUi-handle:active {
  border: 8px solid var(--red);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  left: -14px;
  top: -14px;
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #b8b8b8;
}

[disabled].noUi-origin,
[disabled] .noUi-handle {
  cursor: not-allowed;
}
/* end-price-slider */

/* adventure-single */
.adventure-single-container {
  padding: 30px;
}

.adventures-container {
  margin-left: -30px;
  margin-right: -30px;
  padding-top: 10px;
}

.adventure-single {
  display: flex;
  width: 100%;
  height: 350px;
  color: var(--white);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.adventure-single-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.adventure-single-price {
  font-size: 16px;
  padding-bottom: 30px;
}

.adventure-single hr {
  width: 17%;
  padding-top: 10px;
  border-top: 1px solid var(--white);
  background: transparent;
}

/* adventures-pagination */
.paginationjs-pages ul {
  display: flex;
  padding-top: 50px;
  justify-content: flex-end;
  font-weight: 600;
}

.paginationjs-pages ul li {
  font-size: 18px;
  margin: 0 9px;
  line-height: 1.1;
}

.paginationjs-pages ul li a:hover {
  color: var(--black);
}

.paginationjs-page.active a:hover {
  color: var(--white);
}

.paginationjs-page.active {
  background: var(--red);
  color: var(--white);
  padding: 1px 8px;
}

.paginationjs-next,
.paginationjs-prev {
  display: flex;
  align-items: flex-end;
}

.paginationjs-next a,
.paginationjs-prev a {
  font-size: 20px;
  line-height: 1;
}
/* end-adventure-single */

/* end-adventures */

/* Cart - override woocommerce */

#my-cart-text{
  color: var(--dark-242424);
  font-size: 16px;
  line-height: 36px;
  font-weight: bold;
}

.cart-wrapper {
  background: var(--white);
  padding: 56px 59px 57px 35px;
  position: relative;
}

.cart-wrapper .total-table {
  padding: 20px 0;
  border-bottom: 1px solid rgba(121, 121, 121, 0.16);
}

.cart-wrapper .total-table-wrapper{
  width: 30%;
  margin: 0 0 0 auto;
}

.cart-wrapper .cart_item{
  border-bottom: 1px solid rgba(121, 121, 121, 0.16);
}

.cart-wrapper .cart_item .product-thumbnail{
  width: 150px;
  padding: 15px;
}

.woocommerce-message, .woocommerce-error {
  border-radius: 30px;
}

.woocommerce-notices-wrapper .woocommerce-message {
  text-align: center;
  margin: 120px 0 0;
  font-size: 25px;
}

.cart-wrapper .woocommerce-notices-wrapper .woocommerce-message{
  background: transparent;
  font-weight: bold;
  font-size: 16px;
  color: rgb(44, 203, 142);
  margin: 0;
  text-align: left;
  display: flex;
  align-items: center;
}

.cart-wrapper .woocommerce-notices-wrapper .woocommerce-message::before {
  content: '\2713';
  border: 2px solid rgb(44, 203, 142);
  border-radius: 50%;
  padding: 5px 6.8px;
  font-size: 11px;
  margin: 0 7px 0 0;
  width: 30px;
  height: 30px;
  text-align: center;
}

.cart-wrapper .woocommerce-notices-wrapper .wc-forward {
  display: none;
  /* position: absolute;
  bottom: 57px;
  right: calc(123px + 59px + 24px);
  width: 209px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(206, 76, 75, 1);
  text-transform: uppercase;
  color: var(--black); */
}

.empty-card-wrapper {
  font-size: 22px;
  color: var(--red);
  padding: 30px;
  text-align: center;
}

.cart-qty {
  text-align: center !important;
}


@media (max-width: 768px) {

  .cart-wrapper .cart-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .cart-wrapper .cart-item .product-quantity {
    order: 1 !important;
  }

  .cart-wrapper .cart-item .product-remove {
    order: 2 !important;
  }

  .cart-subtotal {
    order: 3 !important;
    float: right !important;
  }

  .cart-wrapper .cart_item td{
    display: inline-block;
  }
  
  .cart-wrapper .cart_item td:not(:first-child):not(:nth-child(2)){
    flex: 1; 
  }

  .cart-wrapper .cart_item td:first-child, .cart-wrapper .cart_item td:nth-child(2){
    width: 100%;
    text-align: center;
  }

  .cart-product-thumbnail a img {
    margin: 0 auto !important;
  }


  .cart-wrapper table.cart tr td::before {
    display: none;
  }

  .cart-wrapper .total-table-wrapper {
    width: 100%;
    text-align: right;
  }

  /* .cart-wrapper .woocommerce-notices-wrapper .wc-forward {
    bottom: 115px;
    right: 59px;
  } */

  .product-remove, .cart-qty {
    width: 33.3%;
  }
}

.wc-proceed-to-checkout{
  margin: 80px 0 0;
}

.wc-proceed-to-checkout .checkout-button {
  width: 123px;
  background: var(--red);
  color: var(--white) !important;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 auto;
}

.woocommerce-cart-form__cart-item .product-name{
  width: 40%;
}

.product-remove .remove{
  width: fit-content;
  margin-left: auto;
  padding-right: 20px;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    display: none;
    margin: 0;
}
.quantity input.qty {
    appearance: textfield;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    outline: none;
    border: 0;
    text-align: center;
    width: 25px;
}

.qty_button{
  border-radius: 50% !important;
  width: 15px;
  height: 15px;
  padding: 0 !important;
  outline: none;
  background-color: var(--black) !important;
  color: var(--white) !important;
  border-color: var(--black) !important;
  line-height: 0.8 !important;
}

/* end-cart */


/* checkout */

.checkout-container {
  padding-top: 100px;
}

.checkout-wrapper {
  width: 100%;
  padding: 60px 28px 124px;
  margin: 0 0 83px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .checkout-wrapper {
    flex-direction: column-reverse !important;
  }
}

.checkout-wrapper .form-row .woocommerce-input-wrapper input{
  border: 0 !important;
  outline: none !important;
  background: transparent !important;
  width: 100%;
}

#checkout-customer-informations .woocommerce-billing-fields__field-wrapper{
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
}

#checkout-customer-informations .woocommerce-billing-fields__field-wrapper .my-personal-info-inputs:nth-child(1), 
#checkout-customer-informations .woocommerce-billing-fields__field-wrapper .my-personal-info-inputs:nth-child(2) {
  margin-top: 0 !important;
}

.dark-mode #checkout-customer-informations .woocommerce-billing-fields__field-wrapper .my-personal-info-inputs .input-text {
  color: #fff;
}

#continue-payment-btn {
  width: 123px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin-top: 65px;
}

.product-remove .remove {
  margin-left: unset;
}

.woocommerce-checkout-review-order-table .cart-subtotal th, .woocommerce-checkout-review-order-table .order-total th{
  text-align: right;
  border-bottom: 1px solid rgba(121, 121, 121, 0.16);
  padding: 15px 0;
}

.woocommerce-checkout-review-order-table .cart-subtotal td, .woocommerce-checkout-review-order-table .order-total td, .cart_item .product-total{
  text-align: center;
}

.woocommerce-checkout-review-order-table .cart-item{
  border-bottom: 0 !important;
}

#order_review table{
  border-collapse: unset !important;
}

#order_review table thead, #order_review table tfoot .cart-subtotal {
  display: none;
}

#order_review table tbody .cart_item .product-name{
  padding: 10px 0;
  border-bottom: 1px solid rgba(121, 121, 121, 0.16) !important;
}

#payment label[for="payment_method_stripe"] {
	display: flex;
	justify-content: end;
	font-size: 0;
}

#payment label[for="payment_method_stripe"] .stripe-icon {
	margin: 0 10px 0 0 !important;
	padding: 0 !important;
}

#payment #stripe-payment-data p{
	display: none;
}

#payment .form-row {
	margin: 0;	
}

/* end checkout */

/* Thank you page */

.thank-you-wrapper .woocommerce-thankyou-order-received, .thank-you-wrapper .woocommerce-thankyou-order-failed{
  text-align: center;
}

.thank-you-wrapper #thank-you-text {
  font-size: 30px;
  color: var(--red);
  font-weight: bold;
}

.thank-you-wrapper #order-received-text {
  font-size: 22px;
  font-weight: bold;
}

.thank-you-wrapper .after-checkout-order-billing-wrapper {
  color: var(--red);
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
}

.thank-you-wrapper .woocommerce-table--order-details .woocommerce-table__product-name{
  display: flex;
}

.order_details tbody::after {
  content: '';
  display: block;
  height: 15px;
}

/* End thank you page */

/* Single Race */
.single-race .sr-first-section > div {
  height: 725px;
}

.single-race .row .sr-left {
  height: 100%;
}

.sr-left {
  position: relative;
  /* background-image: url("../images/Snowmobile.jpg"); */
  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white); */
}

.sr-left p {
  font-size: 24px;
  line-height: 1.1;
}

.sr-title {
  padding-top: 20px;
}

.sr-left .sr-track-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sr-left img {
  width: 80%;
}

.sr-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 0;
}

.sr-right-first-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sr-track-info-wrapper {
  /* background-color: var(--light-grey); */
  background-color: var(--red);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

/* .sr-right-title {
  padding: 12px;
  font-size: 16px;
  background-color: var(--red);
  color: var(--white);
} */
.sr-right-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: var(--red);
  margin-bottom: 27.4px;
}

.sr-info {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 30px 20px 50px;
}

.sr-bottom .sr-info {
  padding: 59px 0px 69.3px 5.5px;
}

.date-info,
.sr-right-subtitle {
  text-align: center;
}

.sr-right-subtitle {
  font-size: 16px;
  padding-top: 10px;
}

.sr-right-period {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 15px;
  line-height: 1;
}

.sr-info-details .sr-info-details-item {
  margin-bottom: 27.5px;
  display: flex;
  font-weight: 600;
}

.sr-info-details .sr-border {
  width: 2px;
  height: 26px;
  margin-right: 13px;
  background-color: var(--white);
}

.sr-info-title {
  /* max-width: 72px; */
  line-height: 1;
  font-size: 14px;
}

.sr-value {
  line-height: 2;
  font-weight: 500;
  /* font-size: 24px; */
  /* font-weight: 700; */
}

.sr-time {
  font-size: 18px;
}

.sr-info-details > div p {
  /* font-family: "Roboto Condensed", Arial, sans-serif; */
  font-size: 18px;
  color: var(--white);
}

.sr-info-details > div .sr-info-title {
  font-weight: bold;
}

.single-race-tabs {
  margin-top: 70px;
  position: relative;
  /* background-color: var(--light-grey); */
  /* box-shadow: 0px 3px 6px 0px #adadad29; */
}

.single-race .nav-tabs {
  width: 587px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  box-shadow: 0px 5px 5px 0px var(--black-transparent);
}

.single-race .nav-item {
  width: 33%;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.single-race .nav-tabs .nav-link.active {
  color: var(--black);
}

.single-race .nav-link {
  padding: 30px;
}

.single-race .active-border::after, 
.single-race .nav-item:hover::after {
  width: 100%;
  left: 0;
}

.single-ticket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 20px;
  margin-bottom: 32px;
  /* box-shadow: inset 0px 0px 2px #212121; */
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.41);
}

.sr-selected-ticket {
  box-shadow: inset -2px -2px 0px var(--red), inset 2px 2px 0px var(--red);
}

.single-ticket-right {
  display: flex;
  align-items: center;
}

.single-ticket-left {
  font-size: 16px;
}

.single-ticket-left p:first-child {
  font-weight: 600;
}

.sr-ticket-price {
  font-size: 35px;
  padding-right: 28px;
  font-weight: bold;
  width: max-content;
}

.single-race .btn-red {
  box-shadow: 0px 5px 5px 0px var(--black-transparent);
}

.single-race .tab-content {
  margin-top: 70px;
  padding: 47px 32px;
}

.sr-description {
  margin-bottom: 47.9px;
}

.sr-description .title-bordered {
  padding: 50px 0 70px;
}

.sr-included-package-wrapper {
  margin-top: 101.4px;
}

.sr-included-package-wrapper .sr-included-package-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: var(--red);
  margin-bottom: 34.4px;
}

.sr-included-package-items-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 52.3px;
}

.sr-included-package-items-wrapper .sr-included-package-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 198px;
  width: 100%;
  height: 211px;
  margin-right: 18px;
}

.sr-included-package-items-wrapper .sr-included-package-item-wrapper:last-child {
  margin-right: 0;
}

.sr-included-package-items-wrapper .sr-included-package-item-wrapper .sr-included-package-item-img-wraper {
  width: 61px; 
  height: 61px; 
  margin-bottom: 18.5px; 
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.sr-included-package-items-wrapper .sr-included-package-item-wrapper .sr-included-package-item-img-wraper .sr-included-package-item-img {
  width: 100%;
  height: auto;
}

.sr-plan-wrapper {
  margin-bottom: 53px;
}

.sr-plan-wrapper .sr-plan-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: var(--red);
  margin-bottom: 28.1px;
}

.sr-plan-wrapper .sr-plan-items-wrapper {
  max-width: 681px;
  width: 100%;
  margin: 0 auto 40.1px;
}

.sr-plan-wrapper .sr-plan-items-wrapper .sr-plan-item-wrapper {
  margin-bottom: 15px;
}

.sr-plan-wrapper .sr-plan-items-wrapper .sr-plan-item-wrapper .sr-plan-item-title,
.sr-plan-wrapper .sr-plan-items-wrapper .sr-plan-item-wrapper .sr-plan-item-text {
  font-size: 18px;
  text-align: center;
}

.sr-plan-wrapper .sr-plan-items-wrapper .sr-plan-item-wrapper .sr-plan-item-title {
  font-weight: bold;
  color: var(--red);
}

.race-desc-content {
  justify-content: space-between;
  line-height: 2.2;
}

.race-desc-content div {
  width: 47%;
}

.race-desc-wrapper {
  padding: 25.6px 36px 35px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: white;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

.race-desc-wrapper .race-desc-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--red);
  text-align: center;
  margin-bottom: 45.4px;
}

.race-desc-wrapper .race-desc-text {
  font-size: 18px;
  color: var(--dark-green);
}

.race-desc-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 576px;
  text-align: center;
}

.race-desc-image .race-desc-gp-name {
  font-size: 58px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f6f6f6;
}

.race-desc-image .race-desc-gp-date {
  font-size: 29px;
  font-weight: bold;
  margin: 7px 0 0;
  color: #f6f6f6;
}

.single-race .tab-content > .tab-pane.active {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.choose-single-race {
  cursor: pointer;
  transition: all .3s;
}

.active-rect
/* .choose-single-race:hover  */
{
  fill: var(--red) !important;
}

#packages {
  align-items: unset;
}

#packages-title {
  text-align: center;
  margin: 0 0 3rem;
  text-transform: uppercase;
  color: var(--red);
  font-weight: 600;
}

#packages .place-for-packages #accordion .package-wrapper {
  margin-bottom: 23px;
}

#packages .place-for-packages #accordion .package-wrapper .package-ticket {
  margin-bottom: 0;
  cursor: pointer;
}

#packages .place-for-packages #accordion .package-wrapper .package-ticket .single-ticket-right .sr-ticket-price {
  padding-right: 20px;
}

#packages .place-for-packages #accordion .package-wrapper .package-ticket .single-ticket-right .info-icon-img {
  margin-right: 20px;
}

#packages .place-for-packages #accordion .package-info-detail-wrapper {
  padding: 14px 5px 14px 20px;
  background: rgba(255, 255, 255, 0.6);
}

#packages .place-for-packages #accordion .package-info-detail-wrapper p {
  font-size: 16px;
  font-weight: bold;
}

#packages .place-for-packages #accordion .package-info-detail-wrapper p span {
  font-weight: 400;
}

#packages .place-for-packages #accordion .package-info-detail-wrapper hr {
  background: var(--red);
  height: 2px;
  width: 75px;
  margin: 15px 0;
}

.add-to-cart {
  max-width: 121px;
  width: 100%;
}

.sr-header-race-info {
  position: absolute; 
  bottom: 150px; 
  right: 0; 
  z-index: 1;
}

.sr-header-race-info-wrapper {
  display: flex; 
  align-items: center; 
  justify-content: flex-end; 
}

.sr-header-race-title-wrapper {
  max-width: 336px;
  min-width: 300px;
  width: 100%;
  padding-left: 5px;
  background-color: var(--red);
}

.sr-header-race-title-flag {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 154.5px;
  /* max-height: 103px; */
  width: 154.5px;
  min-width: 154.5px;
  height: 105px;
}

.sr-header-race-title-text,
.sr-header-race-title-date {
  color: var(--white);
  padding-right: 19px;
} 

.sr-header-race-title-text {
  font-weight: bold;
  font-size: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.sr-header-race-title-date {
  font-size: 33px;
}

/* End Single Race */

/* 404 page */

.error-404 .error {
  padding: 58px 66px 21px 106px;
  justify-content: space-between;
}

.error-404 .error #error-message-wrapper #whoops-text{
  color: var(--red);
  font-size: 53px;
  line-height: 26px;
  font-weight: bold;
  margin: 0 0 20px;
}

.error-404 .error #error-message-wrapper #description-text {
  font-size: 22px;
  font-weight: bold;
  line-height: 25px;
  margin: 0 0 20px;
}

.error-404 .error #error-message-wrapper .go-back-btn {
  max-width: 122px;
  width: 100%;
  line-height: inherit;
}

.error-404 .error #formula_icon_404 {
  position: absolute;
  bottom: 46px;
}

.error-404 .error #number-of-error {
  font-size: 26vw;
  color: var(--red);
  text-align: right;
  font-weight: bolder;
  max-width: 61.58%;
  width: 100%;
}

/* End 404 page */

/* Motorsports */

.all-races-by-ct-wrapper .race-item {
  margin: 0 0 20px;
}

.motorsports-filter-races-wrapper {
  margin-top: 0;
  padding: 31px 15px 59px;
}

.motorsports-filters-wrapper {
  max-width: max-content;
  padding-right: 27px;
  margin: 0 auto 51px;
}

.motorsports-filters-wrapper .mr-custom-select-wrapper {
  width: max-content;
}

/* End motorsports */

/* Coming soon */

.coming-soon-wrapper {
  position: relative;
  width: 100%;
  height: 526px;
}

.coming-soon-wrapper .coming-soon-category-name {
  font-size: 53px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--red);
  margin-bottom: 30px;
}

.coming-soon-wrapper .coming-soon-time {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 30px;
}

.coming-soon-wrapper .coming-soon-btn-go-back {
  max-width: 122px;
  width: 100%;
  height: 33px;
}

.coming-soon-wrapper .coming-soon-category-image .coming-soon-category-image-category,
.home-book-holiday .home-book-holiday-image {
  width: 60vw;
  height: 13vw;
  position: absolute;
  left: 35%;
  bottom: 5%;
}

.coming-soon-wrapper .coming-soon-category-image .coming-soon-category-image-adventures {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* End coming soon */

/* Responsive */
@media screen and (min-width: 1300px) {
  .container {
    max-width: 1230px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: 800px;
  }
}


@media screen and (max-width: 1200px) {
  /* header-small */
  .navbar-expand-lg .navbar-toggler {
    display: block;
  }

  .collapse:not(.show) {
    display: none !important;
  }

  .navbar a {
    padding-bottom: 5px;
    text-transform: uppercase;
  }

  .main-header.big-screen {
    display: none;
  }

  .main-header.small-screen {
    display: block;
  }

  .main-header {
    padding: 15px 0;
  }

  .navbar-collapse {
    width: 50vw;
    background-color: var(--background-color);
    box-shadow: 0 3px 6px 0 var(--black-transparent);
    position: absolute;
    left: -15px;
    top: 45px;
    padding: 0 30px 15px;
    flex-direction: column;
    align-items: flex-start;
  }

  #navbarSupportedContent ul, #navbarSupportedContentMobile ul {
    flex-direction: column;
    align-items: baseline;
    padding: 15px 0;
  }

  .mr-login {
    padding-bottom: 15px;
  }

  .main-header nav {
    border-right: none;
  }

  .mr-nav-buttons {
    justify-content: space-between;
    padding: 0 15px;
  }

  .main-header .mr-logo {
    width: 145px;
  }

  /* Custom burger */
  #nav-icon1 {
    width: 35px;
    height: 25px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    border-radius: 9px;
    background: #000;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  .home #nav-icon1 span, .tax-product_cat #nav-icon1 span, .dark-mode #nav-icon1 span {
    background: #fff;
  }
  
  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon1 span:nth-child(2) {
    top: 10px;
  }
  
  #nav-icon1 span:nth-child(3) {
    top: 20px;
  }
  
  #nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  /* End custom burger */

  .menu-item-has-children .sub-menu {
    position: unset;
    height: unset;
    background: transparent;
    margin: 0 0 0 15px;
  }

  .menu-item-has-children .sub-menu li{
    margin-bottom: 10px;
  }

  .main-header .navbar-toggler {
    border: none;
    font-size: unset;
  }

  .mr-loggedin {
    padding-bottom: 10px;
  }

  .mr-loggedin .custom-options {
    top: unset;
    bottom: 0;
    left: 140px;
  }

  /* line-height-for-firefox */
  @-moz-document url-prefix() {
      .contact-text {
        line-height: 2.3;
      }
  }
  /* end-header-small */

  footer {
    padding: 35px;
  }

  footer .col-lg-3:not(:last-child) {
    padding-bottom: 50px;
  }

  .single-race > div {
    height: auto;
  }

  /* .single-race .row > div.sr-left {
    height: 980px;
  } */

  .sr-right {
    padding-left: 15px;
    position: absolute;
    top: 7%;
  }

  .sr-left p {
    font-size: 17px;
    /* text-align: center; */
  }

  .sr-section {
    width: 80%;
    margin: 20px auto;
  }

  .home .navbar-collapse {
    background-color: var(--black);
  }

  .single-race-tabs {
    margin-top: 0;
  }

  .single-race .nav-link {
    padding: 30px 10px;
  }

  .mr-competitions .nav-tabs {
    max-width: 600px;
    height: 80px;
  }

  .adv-head img {
    padding-top: 30px;
  }

  .hovered-item:hover .race-item-back {
    height: 90.2px;
  }

  .race-date div {
    margin: 5px;
  }

  .race-date-txt {
    padding-bottom: 0;
  }

  /* .race-info {
    height: 250px;
  } */

  .sr-left .sr-track-image {
    display: none;
  }

  .time-counter div span:first-child {
    font-size: 30px;
  }

  .time-counter div span:last-child {
    font-size: 15px;
  }

  .mr-header-background {
    height: 70vh;
  }

  .about-img {
    padding-top: 40px;
    max-width: 100%;
  }

  .about-motosports .about-first-row .about-txt {
    margin-right: 0;
    max-width: 100%;
  }
  
  .about-motosports .about-second-row .about-txt,
  .about-adventures .about-second-row .about-txt {
    max-width: 100%;
    margin-right: 0;
  }

  .about-adventures .about-second-row .about-img,
  .about-motosports .about-second-row .about-img,
  .about-motosports .about-first-row .about-img {
    position: inherit;
    max-width: 100%;
  }

  .contact-us .mr-background-inner {
    padding: 60px 80px;
  }

  .contact-us-left {
    padding-right: 15px;
    margin-bottom: 30px;
  }

  .contact-us iframe {
    height: 300px;
  }

  .mr-header-buttons {
    column-gap: 15px;
    padding-left: 0;
  }

  .main-header .mr-logo {
    width: 120px;
  }

  .navbar-toggler-icon {
    width: 30px;
  }

  .main-header nav {
    padding: 0;
  }

  .login-img,
  .register-img {
    width: 100%;
    opacity: 0.2;
    position: absolute;
  }

  .login-img {
    left: 46%;
    top: 12%;
  }

  .register-img {
    left: 46%;
    top: 45%;
  }

  /* .single-race .tab-content > .tab-pane {
    flex-direction: column-reverse;
  } */

  .single-race .tab-content {
    padding-left: 0;
    margin-top: 30px;
  }

  .single-race .sr-first-section > div {
    height: auto;
  }

  #singleTickets > div:last-child {
    padding-bottom: 30px;
  }

  .race-desc-content div {
    width: 100%;
  }

  .race-desc-image {
    height: 350px;
    margin-bottom: 30px;
  }

  .error-404 .error {
    flex-direction: column-reverse;
    padding: 21px 50px;
  }

  .error-404 .error #number-of-error {
    max-width: 100%;
    text-align: center;
  }

  .error-404 .error #formula_icon_404 {
    margin: 30px 0 0;
    position: unset;
  }

  .menu-item-has-children .sub-menu li {
    color: rgb(36, 36, 36);
  }

  .dark-mode .menu-item-has-children .sub-menu li, .home .menu-item-has-children .sub-menu li {
    color: var(--white);
  }

  .coming-soon-wrapper {
    height: 695px;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .coming-soon-wrapper .coming-soon-category-image .coming-soon-category-image-category {
    width: 100%;
    height: auto;
    left: 0;
    bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .mr-background-inner {
    padding: 40px 0;
  }

  .contact-us .mr-background-inner {
    padding: 40px 20px;
  }

  .mr-background-offset {
    padding: 120px 0 40px;
  }

  .mr-header-background {
    padding: 0;
    height: 570px;
    /* height: 70vh; */
  }

  .navbar-collapse {
    width: 100vw;
  }

  .mr-competitions .nav-tabs {
    display: flex;
    max-width: 80%;
    height: auto;
    border: 1px solid #ccc;
  }

  .tab-content {
    margin-top: 50px;
  }

  .mr-competitions .nav-tabs .nav-item {
    width: 50%;
    height: 60px;
  }

  .mr-competitions .nav-tabs .nav-item img {
    max-height: 100%;
  }

  .mr-competitions .nav-tabs .nav-item { /* :first-child */
    width: 100%;
  }

  .mr-competitions .nav-tabs .nav-item:first-child a,
  .mr-competitions .nav-tabs .nav-item:nth-child(3) a {
    border-right: none;
  }

  .title-border {
    width: 280px;
  }

  footer .row {
    text-align: center;
  }

  footer .mr-logo {
    margin: 0 auto 37px;
  }

  .mr-social a {
    margin: 8px;
  }

  .time-counter {
    grid-gap: 20px;
  }

  .lost_reset_password input {
    width: 100%;
  }

  .autentification .nav-tabs {
    justify-content: center;
    padding: 0 30px;
  }

  .autentification .nav-item {
    margin: 0 22px;
  }

  form #reg_billing_first_name,
  form #reg_billing_last_name {
    width: 100%;
    margin: 0;
  }

  .autentification form input, 
  .contact-us form input {
    padding: 40px 5px 5px;
  }

  .contact-us form input[type=submit] {
    padding: 5px;
  }

  .contact-us-left {
    padding-right: 15px;
  }

  .contact-us-form button {
    margin-bottom: 40px;
  }

  .race-item .race-item-back {
   display: none;
  }

  .single-race .nav-tabs {
    width: 90%;
    position: absolute;
    align-items: center;
    margin-top: -30px;
    left: 0;
    right: 0;
  }

  .single-race .tab-content {
    margin-top: 0;
    padding-top: 70px;
    padding-right: 0;
  }

  .race-desc-image {
    height: 400px;
    padding-top: 15%;
  }

  .race-desc-content div {
    width: 100%;
    margin-bottom: 30px;
  }

  .sr-info {
    padding: 20px 0;
  }

  .sr-section {
    width: 95%;
  }

  /* .single-ticket-right {
    flex-direction: column;
  } */

  /* .sr-ticket-price {
    padding-right: 0;
  } */

  .single-ticket {
    padding: 10px;
  }

  #singleTickets > div:first-child {
    padding: 0;
  }

  .single-ticket-left {
    font-size: 15px;
    max-width: 50%;
  }

  .single-race .nav-link {
    padding: 10px;
    font-size: 15px;
  }

  .single-race .nav-item {
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
  }

  .sr-time {
    font-size: 15px;
  }

  .sr-value {
    font-size: 18px;
  }

  /* .single-race .row > div.sr-left {
    height: 850px;
  } */

  /* adventures */
  .adv-head h2 {
    font-size: 25px;
    padding-bottom: 20px;
  }

  .adv-head p {
    padding-bottom: 20px;
  }

  .adventure-single-container {
    width: 85%;
    margin: 0 auto;
    padding: 10px 0;
  }

  .paginationjs-pages ul {
    justify-content: center;
  }

  .adv-filter {
    flex-direction: column;
    max-width: 100%;
    height: auto;
    padding: 20px 0;
  }

  .mr-custom-select-wrapper, .motorsports-filters-wrapper .mr-custom-select-wrapper  {
    width: 100%;
    height: auto;
  }

  .adv-filter button {
    margin-top: 10px;
  }

  .mr-custom-select-wrapper:not(:first-child) {
    border-left: none;
  }

  .mr-custom-select.open .custom-options {
    top: 102%;
    bottom: unset;
    box-shadow: 0 0 10px #ccc;
  }

  .select-price {
    width: 100%;
  }

  .adv-filter .custom-select__trigger {
    width: 90%;
    position: relative;
    margin: 10px auto;
    padding: 0;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
  }

  .adv-filter .custom-select__trigger::after {
    content: '\276D';
    transform: rotate(90deg);
    position: absolute;
    right: 5%;
    bottom: 35%;
  }

  .adv-filte .custom-options {
    top: 100%;
  }

  #error-location {
    top: -15px;
    left: 20px;
  }

  #error-type {
    top: -9px;
    left: 20px;
  }

  .contact-us h2,
  .create-account h2 {
    font-size: 30px;
  }

  .contact-us-form > div {
    flex-direction: column;
  }

  .contact-us-form > div input {
    width: 100%;
  }

  .contact-us-form {
    margin-top: 30px;
  }
  /* end-adventures */

  .carousel-most-popular-item-wrapper .carousel-most-popular-item-title {
    font-size: 17px;
  }

  .home-book-holiday-text-wrapper .home-book-holiday-title {
    font-size: 17px;
  }

  .home-book-holiday-text-wrapper .home-book-holiday-description {
    font-size: 12px;
  }

  .race-desc-wrapper {
    margin-left: 0;
    margin-right: 0;
  }

  .sr-header-race-info-wrapper {
    flex-direction: column;
    align-items: flex-end;
  }

  .sr-header-race-title-text {
    font-size: 26px;
  }

  .sr-header-race-title-date {
    font-size: 22px;
  }

  .sr-header-race-info {
    bottom: 0px;
  }
}
/* End-Responsive */


/* My account */

.my-account .tab-content {
  margin-top: 0;
}


/* My personal information */

.my-account #PersonalInformation {
  max-width: 450px;
  margin: 0 auto;
  width: 100%;
}

.save-personal-info-btn {
  width: 92px;
  height: 43px;
  margin: 65px 0 0;
}

.my-account-name-postal, .checkout-firstN-postal {
  max-width: 39.42%;
  width: 100%;
}

.my-account-last-city, .checkout-lastN-city {
  max-width: 57.46%;
  width: 100%;
}

.my-personal-info-inputs {
  border: 0 !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #484848 !important;
  margin-top: 62px !important;
  background: transparent !important;
  width: 100%;
}

.my-personal-info-inputs .woocommerce-input-wrapper {
  width: 100%;
}

/* End my personal information */

/* My orders */

.my-order-wrapper {
  border-bottom: 1px solid #848484; 
  padding: 15px 0;
}

.my-order-wrapper .my-order-date {
  margin: 0 0 45px; 
  color: #848484; 
  font-size: 16px;
}

.my-order-wrapper .my-order-info-wrapper {
  display: flex;
}

.my-order-wrapper .my-order-info-wrapper img {
  max-width: 133px;
  width: auto;
  margin: 0 32px 0 0;
}

.my-order-info-wrapper .my-order-info {
  flex-grow: 1;
  font-size: 16px; 
  font-weight: bold;
}

/* End orders */

@media (min-width: 1200px) {
  .tax-product_cat .navbar ul {
    color: var(--white);
  }

  .my-account .mr-background-inner {
    padding-right: 80px;
  }
}

@media (max-width: 768px) {
  .my-account .mr-background-inner {
    padding-right: 31.5px;
    padding-left: 31.5px;
  }

  .my-account-name-postal, .my-account-last-city {
    max-width: 100%;
  }
}

@media (max-width: 550px) {
  .sr-included-package-items-wrapper {
    flex-direction: column;
  }

  .single-ticket, .single-ticket-right {
    flex-direction: column;
  }
}

@media (max-width: 340px) {
  .my-order-wrapper .my-order-info-wrapper {
    display: block;
  }
}
/* End my account */

/* Dark mode */

.dark-mode #page, .dark-mode .dark-black-color{
  background-color: var(--dark-1f1f1f);
  color: var(--white);
}

.dark-mode .dark-gray-color {
  background-color: var(--dark-707070);
  border-color: var(--white);
}

.dark-mode .dark-rufle-green {
  background: var(--dark-404040);
  fill: var(--dark-404040);
}

.dark-mode .dark-jungle-green-color, .dark-mode .title-bordered p, .dark-mode .mr-background-inner {
  background-color: var(--dark-242424) !important;
  color: var(--white);
}

.dark-mode .dark-taupe{
  background: var(--dark-343434);
}

.dark-mode .white-text, .dark-mode .white-text::placeholder {
  color: var(--white) !important;
  fill: var(--white);
  border-color: var(--white) !important;
}

/* .dark-mode .cart-wrapper .woocommerce-notices-wrapper .wc-forward {
  color: var(--white) !important;
} */

.dark-mode .single-race-tabs {
  background: transparent;
}

.dark-mode .track-svg{
  stroke: var(--white);
}

.dark-mode .checkmark{
  border-color: var(--white);
}

.dark-mode .location-selection input:checked ~ .checkmark, .dark-mode .type-selection input:checked ~ .checkmark, .dark-mode .white-bg::after{
  background: var(--white);
  color: var(--black);
}

.dark-mode .single-race-tabs{
  box-shadow: none !important;
}

.dark-mode .single-ticket{
  box-shadow: inset 0px 0px 2px var(--white);;
}

.home .navbar-toggler-icon::before,
.home .navbar-toggler-icon::after,
.dark-mode .navbar-toggler-icon::before, 
.dark-mode .navbar-toggler-icon::after {
  background-color: var(--white);
}

.home .navbar-toggler-icon:before,
.dark-mode .navbar-toggler-icon:before {
  box-shadow: 0 10px 0 var(--white);
}

.home .navbar-toggler-icon:hover:before,
.dark-mode .navbar-toggler-icon:hover:before {
  box-shadow: 0 0 0 var(--white);
}

.dark-mode .race-desc-wrapper {
  background-color: var(--dark-242424);
}

.dark-mode #contact-home-us h3 {
  color: var(--white);
}

/* End-dark-mode */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 400px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}

.animated {
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both
}

@-webkit-keyframes fadeInLeft {
  0% {
      opacity:0;
      -webkit-transform:translateX(-400px);
      transform:translateX(-400px)}
  100% {
      opacity:1;
      -webkit-transform:translateX(0);
      transform:translateX(0)
  }
}

@keyframes fadeInLeft {
  0% {
      opacity:0;
      -webkit-transform:translateX(-400px);
      -ms-transform:translateX(-400px);
      transform:translateX(-400px)}
  100% {
      opacity:1;
      -webkit-transform:translateX(0);
      -ms-transform:translateX(0);
      transform:translateX(0)
  }
}

.fadeInLeft {
  -webkit-animation-name:fadeInLeft;
  animation-name:fadeInLeft
}

@-webkit-keyframes fadeInRight {
  0% {
      opacity:0;
      -webkit-transform:translateX(-400px);
      transform:translateX(-400px)}
  100% {
      opacity:1;
      -webkit-transform:translateX(0);
      transform:translateX(0)
  }
}

@keyframes fadeInRight {
  0% {
      opacity:0;
      -webkit-transform:translateX(400px);
      -ms-transform:translateX(400px);
      transform:translateX(400px)}
  100% {
      opacity:1;
      -webkit-transform:translateX(0);
      -ms-transform:translateX(0);
      transform:translateX(0)
  }
}

.fadeInRight {
  -webkit-animation-name:fadeInRight;
  animation-name:fadeInRight
}