<div class="about-us mr-background-offset">
  <h2
    class="subtitle-moto"
    data-aos="fade-right"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine"
  >
    Motosports
  </h2>
  <div class="about-motosports">
    <div class="about-first-row">
      <p
        class="about-txt"
        data-aos="fade-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Amet purus gravida
        quis blandit turpis cursus in hac habitasse. Pretium nibh ipsum
        consequat nisl vel pretium lectus. Odio ut enim blandit volutpat. In
        nibh mauris cursus mattis molestie a iaculis. Duis ultricies lacus sed
        turpis tincidunt id aliquet risus. Imperdiet dui accumsan sit amet. Non
        quam lacus suspendisse faucibus. Est sit amet facilisis magna etiam
        tempor. Nunc id cursus metus aliquam eleifend. Tempor orci dapibus
        ultrices in iaculis nunc. Nibh mauris
      </p>

      <div
        class="about-img"
        data-aos="fade-left"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
      >
        <img
          src="../wp-content/uploads/2020/10/about-us-moto1.jpg"
          alt="moto-race"
          class="animated fadeInRight"
        />
      </div>
    </div>
    <div class="about-second-row">
      <p
        class="about-txt"
        data-aos="fade-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Amet purus gravida
        quis blandit turpis cursus in hac habitasse. Pretium nibh ipsum
        consequat nisl vel pretium lectus. Odio ut enim blandit volutpat. In
        nibh mauris cursus mattis molestie a iaculis. Duis ultricies lacus sed
        turpis tincidunt id
      </p>

      <div
        class="about-img"
        data-aos="fade-left"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
      >
        <img
          src="../wp-content/uploads/2020/10/about-us-moto2.jpg"
          alt="formula-race"
        />
      </div>
    </div>
  </div>
  <h2
    class="subtitle-adv"
    data-aos="fade-right"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine"
  >
    Adventures
  </h2>
  <div class="about-adventures">
    <div class="about-first-row">
      <p
        class="about-txt"
        data-aos="fade-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Amet purus gravida
        quis blandit turpis cursus in hac habitasse. Pretium nibh ipsum
        consequat nisl vel pretium lectus. Odio ut enim blandit volutpat. In
        nibh mauris cursus mattis molestie a iaculis. Duis ultricies lacus sed
        turpis tincidunt id aliquet risus. Imperdiet dui accumsan sit amet. Non
        quam lacus suspendisse faucibus. Est sit amet facilisis magna etiam
        tempor. Nunc id cursus metus aliquam eleifend. Tempor orci dapibus
        ultrices in iaculis nunc. Nibh mauris cursus mattis molestie a iaculis
        at. Vulputate odio ut enim blandit volutpat maecenas volutpat blandit.
        Id ornare arcu odio ut sem nulla pharetra diam.
      </p>
    </div>
    <div class="about-second-row">
      <p
        class="about-txt"
        data-aos="fade-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Amet purus gravida
        quis blandit turpis cursus in hac habitasse. Pretium nibh ipsum
        consequat nisl vel pretium lectus. Odio ut enim blandit volutpat. In
        nibh mauris cursus mattis molestie a iaculis. Duis ultricies lacus sed
        turpis tincidunt id aliquet risus. Imperdiet dui accumsan sit amet. Non
        quam lacus suspendisse faucibus. Est sit amet facilisis magna etiam
        tempor. Nunc id cursus metus aliquam eleifend. Tempor orci dapibus
        ultrices in iaculis nunc. Nibh mauris cursus mattis molestie a iaculis
        at. Vulputate odio ut enim blandit volutpat maecenas volutpat blandit.
        Id ornare arcu odio ut sem nulla pharetra diam.
      </p>

      <div
        class="about-img"
        data-aos="fade-left"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
      >
        <img
          src="../wp-content/uploads/2020/10/about-us-adv.jpg"
          alt="formula-race"
        />
      </div>
    </div>
  </div>
</div>
